.footer{
    padding: 28px;
    background: #293339;
    color: #fff;
    text-align: center;
    h4{
        margin: 28px;
    font-size: 28px;
    font-weight: 400;
    font-family: cursive;
    span{
        font-weight: bold;
    background: #ff7e00;
    padding: 11px 4px;
    border-radius: 50%;
    color: #fff;
    }
    }
    p{
        font-size: 12px;
    color: #ffffffab;
    margin: 10px;
    }
}