$mainBackGround:#eaeef3;
$mainColor:#11274f;
$mainColorNav:#1c2b2d;
$vip:#0d8591;
$sweet:#992a2a;
$normal:#389af0;


@import './component/logIn';
@import './component/mainPage';
@import './component/addNewAdmin';
@import './component/hotelPage';
@import './component/users';
*{
    padding: 0;
    box-sizing: border-box;
}